
.header{
    background-image: url('../image/Tabpanel.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 20px;
}
.row .col-lg-2 ul li {
    list-style: none;
    text-align: start;
    color: black;
}
.btn:hover{
    border-bottom: 1px solid #405FF2;
}